footer {
    color: rgba(255, 255, 255, 1);
    background-color: rgb(120, 186, 185);
    padding: 1% 11%;
    padding-bottom: 0px;
}
.contain {
    display: flex;
    justify-content: space-between;    
}
.contactInfo{
    width: 70%;
    line-height: 30px;
    padding-bottom: 15px;
}
.contact-info h1{
    margin-bottom: 20px;
    font-size: 40px;
}
.social-media{
    width: 30%;
    display: flex;
    justify-content: space-around;
    place-items: center;
}
.copyright{
    background-color: rgb(3, 110, 99);
    text-align:center;
}
