body {
    background-image: url(image.jpg);
    background-color: rgb(208, 235, 235);
    background-size: cover;
}

h2 {
    color: #2145d2;
    text-align: center;
    border: 5px solid rgba(57.6, 43.5, 96.9, 0.99);
}

li {
    list-style: none;
    display: list-item;
}

/* 
img {
    padding: inherit;
    margin: auto;
    text-align: center;
} */